@model CatalogoProdutos.Dominio.Entidades.Produto


<div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-head" id="cadastro-div">

            <div class="cadastro-label">Lista de Produtos</div>

        </div>
        <div class="panel-body">
            <a id="CriarProduto" href="@Url.Action("Create")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>Incluir Produto
            </a>

            <table>
                <tr>
                    <td rowspan="3">
                        @if (Model.Imagem != null)
                        {
                            <div class="pull-left" style="margin-right: 10px">
                                <img class="img-thumbnail" src="@Url.Action("ExibirImagem", "arquivo", new {id=Model.ProdutoId})" width="150" height="150" />
                            </div>
                        }
                        else
                        {
                            <div class="pull-left" style="margin-right: 10px">
                                <img class="img-thumbnail" src="~/Imagens/sem-foto.jpg" width="150" height="150" />
                            </div>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary btn-large">
                            <strong>@Model.Nome</strong>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        SKU: @Model.SKU
                        <br />
                        Descrição: @Model.Descricao
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Detalhes", "Details", new { id = Model.ProdutoId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Deletar", "Delete", new { id = Model.ProdutoId }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>