<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Imagens/WestPets-Logo.ico" type="image/x-icon" />
    <title>@ViewBag.Title WestPets</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#49A3BF">
</head>


<body>
    <!-- Barra de Navegação -->
    <nav id="menu-h">
        <ul>
            <li>@Html.ActionLink("Início", "Index", "Home")</li>
            <li>@Html.ActionLink("Produtos", "Catalogo", "Produto")</li>
            <li>@Html.ActionLink("Quem Somos", "Contato", "Home")</li>
        </ul>
    </nav>
    <div class="index-div-pai">
        <!-- Botao Whatsapp No Canto da Tela -->
        <h4 id="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5517996123117&text=Gostaria%20de%20receber%20mais%20informacoes!" class="icon" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </h4>
        <div class="container">
            <div class="navbar navbar-inverse">
                <img src="~/Imagens/fundo site.jpg" width="100%" height="100" />
            </div>
            <div id="div-painel" class="row panel">
                <div id="menu" class="col-xs-2"></div>
                <div class="col-xs-8">
                    @if (TempData["mensagem"] != null)
                    {
                        <div class="alert alert-success">@TempData["mensagem"]</div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>

        <script src="~/Scripts/modernizr-2.8.3.js"></script>

        <footer>
            <div class="footer-div">
                <div class="text-center">
                    <h3>
                        <address>
                            West Pets<br />
                            Rua Via de Acesso, 0 - Distrito Industrial<br />
                            Estrela d Oeste <br />
                            CEP: 15650-000 <br />
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg> : (17) 99612-3117
                        </address>
                    </h3>
                </div>
                <div>
                    <div class="row col-md-offset-3">
                        <h4 id="footer-instagram-label">
                            <strong><p  class="col-sm-3 col-form-label text-right">Instagram:</p></strong>
                            <div class="col-sm-4 text-left" ">
                                <a href="https://www.instagram.com/westpets.ind/" target="_blank" rel="noopener noreferrer">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                        </svg>
                                    </button>
                                </a>
                                </br>
                            </div>
                        </h4>
                    </div>
                    <!-- Parte Email -->
                    <div class="row col-md-offset-3">
                        <h4>
                            <strong><p class="col-sm-3 col-form-label text-right">Email:</p></strong>
                            <div class="col-sm-6 text-left" ">
                                <input type="text" name="texto" id="texto" class="txt-colored" value="vendas.westpets@gmail.com" />
                                <button id="texto-button" class="btn btn-primary" onclick="copiarTexto()">Copiar</button>
                            </div>
                        </h4>

                        <!-- Função copiar para botão "Copiar" -->
                        <script>
                            function copiarTexto() {
                                let textoCopiado = document.getElementById("texto");
                                textoCopiado.select();
                                textoCopiado.setSelectionRange(0, 99999)
                                document.execCommand("copy");
                                alert("O email foi copiado para a área de transferência!");
                            }
                        </script>
                    </div>
                </div>
            </div>
    </div>
    </footer>
</body>

</html>